.hero {
  width: 100%;
  height: 70vh; /* Full viewport height */
  position: relative;
  display: flex;
  justify-content: center; /* Hero içeriği ortalanır */
  align-items: center;
  overflow: hidden;
  margin-bottom: 0; /* Fazladan boşluk kaldırılır */
  padding: 0; /* Varsayılan padding kaldırılır */
  background-color: #f5f5f5;
  align-items: center;
}

/* Logo positioning */
.hero-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  margin: 2%;
}

/* Logo positioning */
.hero-restaurant {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 2%;
  z-index: 10;
}


.hero-logo img {
  width: 180px; /* Adjust logo size */
  opacity: 95%;

}

.hero-restaurant h2{
  font-family:'Nunito', sans-serif;
  font-size: 2rem;
  color:#f5f5f5;
  display: flex;
  text-align: center;
  line-height: 1.8rem;
  opacity: 95%;
  width: 180px; /* Adjust logo size */
}

/* Image container */
.hero-slider {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative;
  justify-content: center;
}

.hero-slider .overlay{
    position: absolute;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah */
    z-index: 5;
  }

.hero-image {
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  align-self: auto;
  object-fit: cover; /* Ensures image fills the container proportionally */
}

@media (max-width: 1024px) {
  .hero {
    height: 60vh; /* Reduce height for tablets and smaller desktops */
  }
  .hero-slider {
    height: 60vh;
  }
  .hero-slider .overlay {
    height: 60vh;
  }
  .hero-logo img {
    width: 150px; /* Smaller logo for medium screens */
  }
  .hero-restaurant h2 {
    width: 150px; /* Smaller logo for medium screens */
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 50vh; /* Reduce height further for tablets */
  }
  .hero-slider {
    height: 50vh;
  }
  .hero-slider .overlay {
    height: 50vh;
  }
  .hero-logo img {
    width: 120px; /* Smaller logo for tablets */
  }
  .hero-restaurant h2 {
    width: 120px; /* Smaller logo for tablets */
    font-size: 1.7rem;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 40vh; /* Reduce height for small screens (mobile) */
  }
  .hero-slider {
    height: 40vh;
  }
  .hero-slider .overlay {
    height: 40vh;
  }
  .hero-logo img {
    width: 100px; /* Smallest logo size for mobile screens */
  }
  .hero-restaurant h2 {
    width: 100px; /* Smallest logo size for mobile screens */
    font-size: 1.6rem;
  }
}