.food-drink-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#eaeaea; /* Background color for the container */
    padding: 12px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .food-drink-button {
    width: 120px;
    font-size: 1.1rem;
    padding: 10px 30px;
    border: none;
    border-radius:15px;
    background-color: #eaeaea; /* Default button background */
    color: #6c757d; /* Default text color */
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .food-drink-button:hover {
    background-color: #dcdcdc;
  }
  
  .food-drink-button.active {
    background-color: #ff6600; /* Active button background */
    color: white; /* Active text color */
    font-weight: bold;
  }
  
  